{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Cover.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
  <style>
    h1{
      font-family: CookieRun-Regular;   
    }
  </style>

</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Online Help</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">온도</h1>
            <p class="lead">온라인 도움 Online Help 서비스는 서로간 재능을 기부하고,<br>봉사에 대한 접근성을 높이기 위해 런칭되었습니다.</p>
            <p class="lead">
              <a href="./OnlineHelp" class="btn btn-lg btn-default" id="btn">Start!</a>
            </p>

          </div>

        </div>

      </div>
    </div>

</body>
</html>

